
<body style="width: 95%;">
    <h1>Pick Rules</h1>
    <ul>
        <li>12 games will be selected per week during the regular season and conference championships</li>
        <li>Base points are awarded based on how many users are participating in a given week. (e.g. If 30 people are in the league for week 3, you will get 30 base points for a correct pick).</li>
        <li>Points will be awarded to those who select the winner of each game based upon the number of people selecting the losing team (e.g. if 12 people select team A and 18 people select team B, team A would provide 48 points [30 base points + 18 bonus] to those that selected team A if they were to win and team B would provide 42 points [30 base points + 12 bonus] to those that selected team B if they were to win).</li>
        <li>UM and MSU games will always be included and will be against the spread if the spread is greater than 3 points</li>
        <li>A “best bet” will be selected each week by each participant and will be worth 2x if selected correctly (following the same point system as mentioned above</li>
        <li>Submissions are DUE on the Thursday preceding the weekend’s games, unless a game before Thursday is included in the selections</li>
        <!--<li>Bowl games
            <ul>
                <li>Regular bowl games are worth the same amount as a regular season game</li>
                <li>The Fiesta, Cotton, Orange, and Peach Bowls will be worth 1.5x the points of a regular season game</li>
                <li>The two semifinal games will be worth 2x the points of a regular season game</li>
                <li>The National Championship Game will be worth 3x the points of a regular season game</li>
            </ul>
        </li>-->
        <li>Absenteeism
            <ul>
                <li>Expulsion will occur if selections are not provided for two straight weeks – yikes, don’t do this!</li>
                <li>If selections are not provided for any two weeks, that participant is on probation for the remainder of the season.  Any additional abstentions on providing picks while a participant is on probation during that season will result in expulsion.
                </li>
                <li>The reason for this is to ensure that the point system is not compromised week-by-week by those that do not participate</li>
                <li>For weeks that are not submitted, the ‘favorite’ according to odds makers will automatically be selected and no best bet will be selected</li>
            </ul>
        </li>
    </ul>
 
</body>
